<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD - DJANGO</title>
  </head>
  <body>
    <ul>
      {% for product in products %}
      <a href="{% url 'update_product' product.id %}">
        <li>{{ product.description }}</li>
      </a>
      {% endfor %}

      <a href="{% url 'create_products' %}">New Product</a>
    </ul>
  </body>
</html>
